body {
    text-align: center;
}

h1 {
    z-index: 100; 
    margin-top: 50%;

}

#myVideo {
    width: 100vw;
    margin-left: -10px; 
    position: absolute;
    right: 0;
    top:0;
    z-index: -1;
    object-fit: cover;
}