body {
    text-align: center;
    height: 3000px;
}

h1 {
    z-index: 100; 
    margin-top: 50%;

}

#myVideo {
    width: 100vw;
    margin-left: -10px; 
    position: absolute;
    right: 0;
    top:0;
    z-index: -1;
}

#llama {
    height: 480px;
    position: sticky;
    right: 1200px;
    top: 453px;
}