body {
    text-align: center;
    height: 3000px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(196,208,88,1) 24%, rgba(83,166,111,1) 47%, rgba(77,159,197,1) 71%, rgba(252,70,70,1) 100%);
}

h1 {
    z-index: 100; 
    margin-top: 50%;

}
.text {
    mix-blend-mode: screen;
    background-color: white;
    color: black;
    padding: 10px;
}
#myVideo {
    width: 100vw;
    margin-left: -10px; 
    position: absolute;
    right: 0;
    top:0;
    z-index: -5;
}

#llama {
    height: 480px;
    position: sticky;
    right: 1200px;
    top: 453px;
}

#watersplash {
    z-index: -4;
    margin-left: -12%;
    height: 90%;
    position: fixed;
    bottom: -21%;
}