h1 {
    font-family: cursive;
    text-align: center;
}
h2,h3,h6 {
    text-align: center;

}
.headshot img {
    width: 90vw;
    margin: auto 5vw;

}
h6 {
    margin-top: 0%;
}
.boat img {
    width: 40%;
    padding-top: 2.5%;
    padding-left: 1.75%;
    padding-right: 1.75%;
    scroll-padding-bottom: 2.5%;
}
.boat {
    text-align: center;
}
body {
    background-color: mistyrose;
    margin: 0px;
}
.liltext {
    text-align: center;
}
.video {
    width: 90vw;
    margin: auto 5vw;
    height: 30%;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.sarc{
    margin-bottom: 0px;
}
.heading img {
    height: 4em;
    position: fixed;

}
