body {
    background: url('https://thumbs.gfycat.com/AdorableThirdBlowfish-small.gif'), url('https://i.gifer.com/origin/46/46cb3b968401566480d48180e544deb2_w200.gif'), url('https://lindaseccaspina.files.wordpress.com/2015/09/crawling-beetle-bug.gif'), url('https://lh3.googleusercontent.com/proxy/p0yu2_GuRx-SZia91lou-W2TFOgvmMkRP7tMs-dLVwbqF-9SEFT3xhr-dNbEX6IPiF-7SjrHggJ-zmU2sztjVOGZD7zG22Ejs1a1_9A'), indianred center 115px fixed;
    background-size: 183px;
    transform: skewY(-27deg);
    font-size: 3em;
}
html {
    transform: rotate(37deg);
}
.bugs {
    height: 200%;
    width: 200%;
    transform: translate(-213px, -195px) skewY(37deg);
    z-index: -1;
    background: url('https://img1.picmix.com/output/stamp/normal/3/1/4/4/1024413_12d23.gif'), url('https://bestanimations.com/Animals/Insects/animated-bugs.gif'), center 115px fixed;
    position: absolute;
}
p {
    text-align: center;
}
img {
    position: absolute;
    left: 8em;
}